<section data-cms-section="Header" data-cms-unique="true" data-cms-global="true" data-cms-fixed="first">
    <div class="header-wrapper">
        <div class="logo-wrapper">
            <a href="index.html" class="logo-link">
                <img 
                src="assets/media/logo-placeholder.png" 
                alt="Logo" 
                class="logo-img" 
                data-cms-element="logo"
                data-cms-attributes="src:IMG" 
                data-cms-database-module="master-data" 
                data-cms-internal="true"/>
            </a>
        </div>
        <nav class="nav-wrapper">
            <ul class="menu-wrapper" data-cms-navigation="Navigation">
                <li class="menu-item active" data-cms-active-class="active" data-cms-nav-item="1">
                    <a href="index.html" class="menu-link" data-cms-nav-item-link="href"
                data-cms-nav-item-text="true">Start</a>
                </li>
                <li class="menu-item has-dropdown" data-cms-active-class="active" data-cms-nav-item="1">
                    <a href="" class="menu-link"
                data-cms-nav-item-link="href" data-cms-nav-item-text="true">Leistungen</a>
                    <ul class="submenu-wrapper" data-cms-nav-item="1_2">
                        <li class="menu-item" data-cms-active-class="active" data-cms-nav-item="2">
                            <a href="#" class="menu-link"
                    data-cms-nav-item-link="href" data-cms-nav-item-text="true">Leistung 1</a>
                        </li>
                        <li class="menu-item" data-cms-active-class="active" data-cms-nav-item="2">
                            <a href="#" class="menu-link"
                    data-cms-nav-item-link="href" data-cms-nav-item-text="true">Leistung 2</a>
                        </li>
                        <li class="menu-item" data-cms-active-class="active" data-cms-nav-item="2">
                            <a href="#" class="menu-link"
                    data-cms-nav-item-link="href" data-cms-nav-item-text="true">Leistung 3</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item" data-cms-active-class="active" data-cms-nav-item="1">
                    <a href="#" class="menu-link"
                data-cms-nav-item-link="href" data-cms-nav-item-text="true">studio</a>
                </li>
                <li class="menu-item" data-cms-active-class="active" data-cms-nav-item="1">
                    <a href="#" class="menu-link"
                data-cms-nav-item-link="href" data-cms-nav-item-text="true">news</a>
                </li>
                <li class="menu-item" data-cms-active-class="active" data-cms-nav-item="1">
                    <a href="#" class="menu-link"
                data-cms-nav-item-link="href" data-cms-nav-item-text="true">blog</a>
                </li>
                <li class="menu-item" data-cms-active-class="active" data-cms-nav-item="1">
                    <a href="#" class="menu-link"
                data-cms-nav-item-link="href" data-cms-nav-item-text="true">kursplan</a>
                </li>
                <li class="menu-item" data-cms-active-class="active" data-cms-nav-item="1">
                    <a href="#" class="menu-link"
                data-cms-nav-item-link="href" data-cms-nav-item-text="true">kontakt</a>
                </li>
            </ul>
            <div class="nav-button-wrapper">
                <a href="#" class="nav-button" data-cms-element="Button" data-cms-attributes="href:LINK;" data-cms-text="true">
                    probetraining
                </a>
            </div>
        </nav>
        <div class="hamburger-menu-button-wrapper"></div>
    </div>
</section>