<!DOCTYPE html>
<html lang="de">

    <head {% if cmsPage %} data-cms-page="{{ cmsPage }}"{% endif %} {% if cmsPageType %} data-cms-page-type="{{ cmsPageType }}"{% endif %}>
        {% include "partials/head.njk" %}
    </head>
    <body>
        {% block body %}
            {% include "partials/sections/header.njk" %}
            {% block content %}{% endblock %}
            {% include "partials/sections/footer.njk" %}
        {% endblock %}
    </body>

</html>